.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 40vh;
  background: rgb(101, 151, 226);
  margin-left: 5rem;
  margin-right: 5rem;
  padding: 2rem;
  border-radius: 2rem;
  width: 80%;
  height: 20rem;
  border: 2px solid rgb(64, 129, 228);
  box-shadow: 3px 3px 4px black;
}

.app-title {
  position: absolute;
}

.card-body {
  width: 100%;
  height: 10rem;
  background: honeydew;
  border-radius: 2rem;
  box-shadow: 3px 3px 4px black;
}

#quote-box {
  position: absolute;
  width: 80%;
  height: fit-content;
  margin-left: 1rem;
}

body {
  background: rgb(42, 42, 43);
}

.btn-t a {
  text-decoration: none;
}

.btn-t {
  margin-left: 1rem;
}
